// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.session-form input {
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid gray;
    background: light-gray;
    font-size: 16px;
}

.session-form-submit{
    background: #007a5a;
    color: white;
    text-align: center;
    font-weight: 700;
}

.session-form-submit:hover {
    background: #017455;
    box-shadow: 2px 2px 6px rgb(211, 209, 209);
    transition: .25s;
}

.errors-list{
    list-style-type: none;
    text-align: center;
    color: red;
}

.try-demo{
    padding-top: 10px;
    text-align: center;
    font-weight: 300;
    color: black;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.try-demo-align{
    text-align: center;
}

.try-demo:hover{
    color: #912f9c;
    transition: .2s;
}
