.internal-navbar-channel-title{
    font-weight: 900;
    font-size: 18px;
    color: rgb(49, 49, 49);
}

.internal-navbar-channel-title i{
    font-size: 14px;
    font-weight: 700;
    padding-right: 2px;
}

.internal-cog{
    color: rgb(92, 89, 89);
    cursor: pointer;
}

.internal-cog:hover{
    color: #5992be;
}

.internal-navbar{
    padding: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 230, 230);
}

.dropdown-channel-gear{
    z-index: 1;
    background: white;
    position: absolute;
    width: 170px;
    top: 30px;
    right: 0px;
    border-radius: 5px;
    border: 1px solid rgb(204, 200, 200);
    padding: 10px 0;
}

.dropdown-channel-gear li{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}


.dropdown-channel-gear li:hover {
    background: rgb(50, 103, 184);
    color: white;
    transition: .2s;
}