// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-list {
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 81px - 70px);
}

.individual-message {
    padding: 10px 20px 10px 10px;
    display: flex;
    overflow-wrap: break-word;
    position: relative;
}

.avatar-img {
    height: 35px;
    width: 35px;
    background: #007a49;
    color:rgba(255, 255, 255, 0.86);
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 900;
}

.message-author {
    font-size: 15px;
    font-weight: 900;

}

.message-body {
    width: calc(100vw - 222px - 40px - 35px - 20px);
    overflow-wrap: break-word;
    padding-top: 5px;
    font-size: 15px;
}

.message-form-container {
    width: calc(100vw - 222px - 100px);
    padding: 20px;
    height: 50px;
    margin: 0;
}

.message-form {
    width: 100%;
    height: 100%;
  
}

.message-form input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 2px;
    border: 1px solid #a9a9a9;
    font-size: 15px;
    outline: none;
}

.message-form input::placeholder {
    color: rgb(163, 161, 161);
}

.message-form input:focus {
    border: 1px solid #3F0E40;
    outline: none;
    transition: .1s;
}

.message-content {
    position: relative;
}

.individual-message:hover {
    background: rgb(245, 245, 245);
}

.individual-message:hover .auth-buttons{
    display: block;
}

.auth-buttons {
    position: absolute;
    top: 8px;
    right: 4px;
    display: none;
}

.auth-buttons i {
    color: rgb(92, 89, 89);
}

.auth-buttons button {
    margin-right: 5px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 3px;
}

.message-body-edit {
    display: flex;
    align-items: center;
}

.message-body-edit input{
    margin-right: 5px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
    border: 1px solid rgb(221, 220, 220);
}

.message-body-edit input:focus {
    outline: none;
    border: 1px solid #3F0E40;
}

.message-body-save {
    padding: 4px 6px;
    margin-top: 5px;
    background: #3F0E40;
    color: rgba(255, 255, 255, 0.871);
    border: 1px solid #3F0E40;
    border-radius: 3px;
}